.main-container{
	width: 500px;
	margin-bottom: 15px;
}

.display-inline{
	display: inline-block;
}

.left-part{
	width: 100px;
	border-right: solid;	
}

.right-part{
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 385px;
	position: relative;
	left: 10px;
}

.image{
	width: 80px;
	height: 80px;
	border: 1px solid silver;
	border-radius: 40px;
}

.first-line{
	font-weight: bold;
}