@main-color:magenta;
@main-color-light:lighten(@main-color, 20%);
@main-color-dark:darken(@main-color, 20%);
@font-size-common:20px;

.height-and-line-height(@height){
	height: @height;
	line-height: @height + 10px;
}

body{
 background-color: @main-color;
 	background-color: @main-color-light;
 }
 .second{
 	background-color: @main-color-dark;
 }
 .fourth,fifth{
 	font-size: @font-size-common;
 	.height-and-line-height(40px);
 }
