body{
	margin: 0;
}

.temp-back{
	width: 100%;
	opacity: 0.4;
	position: absolute;//контент вниз-наверх
}
.nav{
		display: flex;
		width: 640px;
		justify-content:space-between;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		font-size: 15px;
		position: absolute;

	.logo{

		display: flex;
		align-items:center;

		.logo-image{
		background-repeat: no-repeat;
			background-size:contain;
			width: 50px;
			height: 50px;
			display: inline-block;
			background-image: url(logo.png);

		}
	}
}
.logo-text{
	
	width: 50px;
	vertical-align: middle;
	height: 50px;
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 19px;
}

.menu{
	align-items: center;
	display: flex;
}

.menu-items{
	padding: 0 10px;
}

.join-us-container{
	display: flex;
	align-items:center;
	height: 607px;
	width: 100%;
	margin-top: -70px;
	//background-color: #87CEFA;
	justify-content:space-around;
	background:url(img1.png);
	background-size: cover;
	background-repeat: no-repeat;

	.join-us-content{


	}
}

.latest-courses{
	display: flex;
	flex-direction:column;
	width: 640px;
	margin-left: auto;
	margin-right: auto;

.latest-courses-container {
        display: flex;
        justify-content: space-between;

.latest-course-item{
	display: flex;
	flex-direction:column;
	border: 1px solid black;
	width: 200px;
	height: 350px;


}}}