 @content-width: 920px;
 @title-container-width: 745px;
 @hor-line-height:10px;
 @hor-line2-height:5px;
 @carousel-height:778px;
 @conclusion-container-height:585px;

 body {
        margin: 0;
    }

    .temp-back {
        width: 100%;
        opacity: 0.4;
        position: absolute;
    }

    .title-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height:@title-container-width;
        .img-part{
        width: 44%;
        height: 100%;
        }
        .romb{
            margin-left: 14%;
            height: 105%;

        }
        .text-part{
            width: 56%;
            height: 100%;
            .texto{
                width: 91%;
                margin-top: 26%;
                height: 25%;
                margin-left: 12px;
                font-size: 65px;
                color: #b8a9d6;
            }
        }
    }
    .hor-line{
        width: 100%;
        height:@hor-line-height;
          background-color: #b8a9d6;
         }
    .hor-line-2{
        width: 100%;
        height:@hor-line2-height;

    }
    .hor-line-3{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90px;

        .hor-line-3-text{
        width: 26%;
        height: 40%;
        margin-left: 10%;
        font-size: 34px;

        }
        .hor-line-3-line{
    width: 60%;
    height: 10%;
    border: 5px solid #0;
      background-color: #b8a9d6;
        }
    }
    .hor-line-4{
        width: 100%;
        height: @hor-line-height;
            background-color: #b8a9d6;
    
    }
    .nav{
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        font-family: Verdana, serif;
    width: 100%;
    height: 195px;

    .nav-img{
        display: flex;
        flex-direction: row;
    height: 100%;
    width: 16%;
    margin-left: 11%;
    }
    .nav-img-1{
    width: 40%;
    margin-top: 59px;
    height: 72%;
    }
    .nav-text2{
    width: 59%;
    height: 40%;
    margin-top: 63px;
    font-size: 55px;
    }
    .navigation-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     height: 100%;
    width: 48%;
    margin-left: 15%;
    .nav-item{
        display: flex;
        flex-direction: row;
        width: 25%;
    height: 30%;
    margin-top: 7%;
    .nav-item-icon{
        width: 27%;
    }
    .nav-item-text{width: 78%;
        font-size: 30px;}
    }
    }
    }
    .carousel-container{
        width: 80%;
        height:  @carousel-height;
    margin-left: auto;
    margin-right: auto;
    }

    .quote-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 193px;
        .quote-text{
        width: 71%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 42px;
        }
    }
    .conclusion-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: @conclusion-container-height;
          .conclusion-label{
    width: 60%;
    height: 10%;
    margin-top: 11%;
    margin-left: 33px;
    font-size: 31px;
    }
.conclusion-middle{
    width: 95%;
    height: 50%;
    margin-top: 1%;
    margin-left: 33px;
    font-size: 42px;
}


        .conclusion-img{
    height: 100%;
    width: 24%;
    margin-left: 13%;

    .circle-class{
    display: flex;
    padding-top: 30%;
    margin-left: 20%;
    }
        }
        .conclusion-text{
    height: 100%;
    display: flex;
    width: 53%;
    flex-direction: column;
        }
    }
    .labels-container{
        height: 205px;
        width: 100%;

        .companies{
            display: flex;
            flex-direction: row;
    height: 55%;
    width: 79%;
    margin-right: auto;
    margin-left: auto;
    .company{
    display: inline-flex;
    height: 90%;
    width: 25%;
    border: 1px solid #000;
    margin-top: 5px;
    img{
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    }
    .about{
        display: flex;
        }
        #pic{
            display: flex;
            position: relative;
            top:-100px;
        }
        #pic2{
    display: flex;
    position: relative;
    left: 37px;
    opacity: 0.4;
    top: -37px;
        }
        #pic3{
    display: flex;
    position: relative;
    left: 15px;
    opacity: .4;
    top: -83px;
        }
    }
    }
    }
    .footer-container{
    
        flex-direction: row;
        width: 100%;
        height: 97px;
        .footer-text{
        display: flex;
        align-items: center;
        width:90%;
        margin-top: 18px;
        height: 50%;
        margin-left: 10%;
        }
        .footer-text-copyright{
    height: 100%;
    width: 100%;
    font-size: 23px;
    align-items: center;
    display: flex;
    margin-left: 2px
        }
        .footer-icons{
    height: 60%;
    width: 7%;
    margin-left: auto;
    margin-top: -1%;
    margin-right: 13%;
    display: inline-flex;
    .footer-icon-first{
        display: inline-flex;
            width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #663399;
    color: #fff;
    margin-left: 26px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
        }
    }
    }





