.main-container {
    width: 800px;
    height: 600px;
    display: flex;
}

.display-inline {
    display: inline-block;
}

.left-part {
    width: 150px;
    height: 600px;

    border-right: 1px solid silver;
}

.right-part {
    padding-left: 10px;
    vertical-align: top;
    width: 385px;
}

.image {
    margin:20px;
    width: 80px;
    height: 80px;
    border: 1px solid silver;
    border-radius: 40px;
}

.first-line {
    font-weight: bold;
}
.bl{        height: 70px;
            width: 800px;
          padding: 5px 10px; 
                border:1px solid #ddd; 
                background: #fffde1; 
                border-radius: 3px;
                margin: 20px;
                 flex; text-align:left;
                flex-direction: column;}

.fl4{background: darkcyan;border-color: red;
    flex-basis: 100%;
    justify-content: flex-start;}

.discussion-container{
    display: flex;

}

.message-container{
    display: flex;
    flex-direction: row;
}

.btn-input {
padding: 10px 20px;
border-radius: 6px;
border: 2px solid red;
color: red;
background-color: white;
}
.btn-input:hover{
color:white;
background-color:red;
}
