@content-width: 920px;
@join-us-padding: 150px;
@border-radius-big: 20px;
@border-radius-small: 8px;
@nav-button-size: 48px;
@height-two-service-parts:201px;
@light-gray: #999999;
@main-color1: #ff7d65;
@text-color-bright: #EEE;
@height-service-container: 370px;


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 27px;
    display: flex;
    //text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-2x{
    margin-left: 15px;
    margin-top: 20px;
}

.fa-4x {
    font-size: 4em;
    margin-left: 1px;
    margin-top: 10px;}

    .height-and-line-height(@value) {
        height: @value;
        line-height: @value;
    }

    .border-radius-common(@value) {
        border-top-left-radius: @value;
        border-bottom-right-radius: @value;
    }

    body {
        margin: 0;
    }

    .temp-back {
        width: 100%;
        opacity: 0.4;
        position: absolute;
    }

    .nav {
        display: flex;
        justify-content: space-between;
    width: @content-width; //    max-width: 889px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 60px;

    .logo {
        display: flex;
        align-items: center;

        .logo-image {
            background-image: url('img/logo.png');
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            display: inline-block;
            background-size: contain;
        }

        .logo-text {
            font-size: 30px;
            margin-top: -8px;
        }
    }

    .menu {
    // padding: 0px 6px;
    // height: 26px;
    // width: 38px;



    display: flex;
    align-items: center;
    height: 35px;
    width: 36%;
    margin-left: auto;
    margin-right: 2%;

    .menu-item {
        padding: 0 10px;
        height: 25px;
        width: 38px;
    }
}
}

.join-us-container {
    width: 100%;
    height: 860px;
    margin-top: -70px;
    background: url(img/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;

    .join-us-content {
        width: calc(~"50% - "@join-us-padding);
        padding-left: @join-us-padding;

        .join-us-content-first-block {
            background-color: @light-gray;
            font-size: 52px;
            text-align: center;
            color: @main-color1;
            opacity: 0.4;
            .border-radius-common(@border-radius-big);
            .height-and-line-height(82px);
        }

        .join-us-content-text {
            font-size: 18px;
            color: @text-color-bright;
            padding: 8px 0;
        }

        .join-us-content-button {
            background-color: @main-color1;
            color: @text-color-bright;
            .border-radius-common(@border-radius-small);
            .height-and-line-height(34px);
            text-align: center;
            width: 138px;
            font-size: 20px;
        }

        .join-us-content-nav {
            .height-and-line-height(@nav-button-size);
            text-align: center;
            width: @nav-button-size;
            position: absolute;
            top: 50%;
            background-color: @light-gray;
            opacity: 0.3;
            font-size: 22px;
            margin-top: -@nav-button-size/2;
        }

        .join-us-content-nav-left {
            left: 15px;;
            border-top-right-radius: @border-radius-small;
            border-bottom-left-radius: @border-radius-small;
        }

        .join-us-content-nav-right {
            right: 15px;
            .border-radius-common(@border-radius-small);
        }
    }
}

.latest-courses {
    display: flex;
    flex-direction: column;
    max-width:  889px;

    margin-left: auto;
    margin-right: auto;

    .latest-courses-label {

        text-align: center;
        font-size: 28px;
    }

    .latest-courses-container {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;

        @media(max-width:816px){
         justify-dontent:space-between;
        //    все элементы в стобец+ растянуть на свю ширину контейнера
    }

    .latest-course-item {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
            //width: 290px;
            width:33%;
            min-width:270px;
            height: 380px;

            .latest-course-item-image {
                height: 233px;
                position: relative;
                .course-btn{
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #ff7d65;
                    color:black;
                    height: 31px;
                    line-height: 35px;
                    text-align: center;
                    width: 109px;
                    font-size: 14px;
                    margin-top: 38%;
                    opacity: 0.3;

                }
            }

            .latest-course-item-title {
                height: 30px;
                display: flex;
                justify-content: space-between;
                padding: 0 31px;
                align-items: center;
            }

            .latest-course-item-descr {
                height: 118px;

                .course-item-descr-first-block {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 18px;
                    .height-and-line-height(50px);
                }


                .course-item-descr-second-block {
                    height: 1px;
                    width: 60px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: @text-color-bright;
                }

                .course-item-descr-third-block {
                    color: #ffff;
                    text-align: center;
                    padding: 12px 10px;
                }
            }
        }
    }
}

.service-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: @height-service-container;
    background:#83E792;

    .service-label{
     text-align: center;
     height: 55px;
     font-size: 28px;
 }

 .service-space{

    width: 100%;
    height: 305px;

    .two-service-parts{
        display: flex;
            //flex-direction: column;
            margin: 55px auto;
            //height: @height-two-service-parts;
            height: 205px;
            width: 931px;

            .first-part{
                height: @height-two-service-parts;
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                background:#BF4CE1;

                .first-part-items{


                    border-bottom-right-radius: 8px;
                    border-top-left-radius: 25px;
                    margin-left: 34px;
                    margin-top: 5px;
                    height: 71px;
                    width: 68px;
                    border: 1px solid #000;

                }
            }

            .second-part {

                width:50% ;
                height: 201px;
                background:#9C98D2;

                .first-text{
                    display: flex;
                    height: 45px;
                    width: 100%;
                }

                .middle-text{
                    display: flex;
                    height: 110px;
                    width:  100%;
                }
                .button-text{
                    display: flex;
                    height: 35px;
                    width:100%;

                    .middle-part-items{
                        display: flex;
                        text-align: center;
                        border-bottom-right-radius: 16px;
                        border-top-left-radius: 21px;
                        margin-left: auto;
                        margin-top: 8px;
                        margin-right: 26px;
                        height: 33px;
                        width: 108px;
                        border: 1px solid #000;

                        .middle-part-text{
                            font-size: 20px;
                            height: 35px;
                            margin-top: 7px;
                            width: 114px;
                        }

                        }}


                        } }
                    }

                }

                .four-pictures{
                    height: 285px;
                    width: 100%;
                    background: url(img/back.png);
                    opacity: 0.3;
                    background-repeat: repeat;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .four-pictures-container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        background: #D3CAF7;
                        width: 42%;
                        margin-right: 0%;
                        margin-left: 29%;
                        height: 150px;

                        .four-pictures-item{
                            height: 100%;
                            //width: 19%;

                            .four-pictures-num{

                                width: 90px;
                                height: 50px;
                               // margin-left: 45px;
                               background: #CE1E1C ;

                           }

                           .four-pictures-bottom{
                            display: flex;
                            justify-content: center;
                            height: 22%;
                               // margin-left: 55px;
                               width: 91px;


                           }
                       }

                       .four-pictures-icon{
                        height: 45%;
                        width: 60%;
                        margin-left: 25px;



                    }

                }

            }



            .how-we-work-container{
                width: 100%;
                height: 780px;
            }

            .unilearn-container{
                display: flex;
                flex-direction: column;
                height: 345px;
                width: 100%;

                .unilearn-first-part {
                    height: 50%;
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;

                    .unilearn-welcome{
                       width: 38%;
                       margin-left: auto;
                       margin-right: auto;
                       margin-top: 8px;
                       font-size: 28px;
                       margin-top: 17%;
                   }
               }

               .unilearn-btn {

                margin-left: auto;
                margin-right: auto;
                background-color: #ff7d65;
                color: #black;
                height: 31px;
                line-height: 35px;
                text-align: center;
                width: 109px;
                font-size: 14px;
                margin-top: 5px;}

                .unilearn-second-part{
                    height: 50%;
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }

            }


            .we-offer{
                display: flex;
                height: 345px;
                width: 100%;
                background: #C7D0CC ;

                .we-offer-first-part{
                    width: 50%;

                }

                .we-offer-second-part{
                    width: 50%;

                    .we-offer-second-part-descr{

                        height: 45px;
                        margin-top: 53px;
                        font-size: 26px;
                    }

                    .we-offer-second-part-middle{
                        width: 500px;
                        height: 130px;
                    }
                    .we-offer-second-part-bottom{

                        height: 66px;
                        margin-bottom: 16px;
                        MARGIN-TOP: 32px;

                        .we-offer-second-part-text{
                            font-size: 20px;
                            display: inline-flex;
                        }
                    }

                }


            }



            img.myImage{

                width: 279px;
                height: 250px;
                background: #c2c2c2;
                border: 1px solid #000;
                border-radius: 1px;
                opacity: 0.4;
                display: flex;
                align-items: center;
                margin-left: 347px;
                margin-right: auto;
                margin-top: 70px;
            }



            .about-us-container{
    //justify-content: space-between;

    width: 100%;

    .about-us-elements{
      display: flex;
      flex-direction: column;
      width: 61%;
      height: 495px;
      margin-left: auto;
      margin-right: auto;

  }

  .about-us-label{

    text-align: center;
    font-size: 28px;
    height: 20%;
    width: 100%;
}

.about-us-text{
   margin-top: 48px;;
}

.about-us-label-two{

    display: flex;
    flex-direction: row;


    height: 50px;
    width: 100%;

    .texts{
        border: 1px solid #000;
        height: 55%;
        width: 16%;
        text-align: center;
        margin-top: 7px;

    }


}




.about-us-parts{
   display: inline-flex;
   flex-direction: row;
   width: 100%;
   height: 295px;

   .about-us-part1{
                //height: @height-two-service-parts;
                width: 50%;
                height: inherit;
                .why-we-are{
                   height: 30px;
               }
               .middle{
                height: 215px;

                .list{
                    height: 60px;
                }
                .list2{
                    height: 31px;

                }
            }

            .bottom-btn{

             background-color: #ff7d65;
             color: #black;
    // border-top-left-radius: 8px;
    // border-bottom-right-radius: 27px;
    height: 31px;
    line-height: 35px;
    text-align: center;
    width: 109px;
    font-size: 15px;
    margin-top: 9px;
}
}

}

.about-us-part2 {
    background: url(img/3.png);
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: inherit;
    margin-left: 50px;


    .about-us-content-btn {
        height: 29px;
        width: 28px;
        opacity: .3;
        font-size: 22px;
        margin-top: 128px;
        margin-left: 3px;
        text-align: center;

    }

    .about-us-content-btn-left {

        left: 15px;
        position: absolute;
    border-top-right-radius: 8px; //?!
    border-bottom-left-radius: 8px;
    margin-left: 732px;
    background-color: #8E1052;
}


.about-us-content-btn-right {
   right: 22px;
   border-top-right-radius: 8px;
   border-bottom-left-radius: 8px;
   background-color: #8E1052;
    position: absolute;         //?!
    margin-right: 260px;
}


}}


.get-in-touch-container{
    width: 100%;
    height: 285px;

    .get-in-touch-content{

        height: inherit;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        .get-in-touch-first-block{

            display: flex;
            width: 100%;
            height: 36%;

            .get-in-touch-first-block-text{
                height: 30%;
                font-size: 27px;
                text-align: center;
                width: 54%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 9%;

            }
        }
        .get-in-touch-second-block{

            width: 88%;
            height: 25%;
            margin-left: 6%;
            text-align: center;
        }
        .get-in-touch-third-block{
            width: 68%;
            height: 14%;
            margin-left: 16%;

            #submit {
             color: #fff;
             font-size: 0;
             width: 135px;
             height: 60px;
             border: none;
             margin: 0;
             padding: 0;
             background: #0c0 url(image) 0 0 no-repeat;
         }
     }

 }


}




.our-teachers-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @media(max-width:60%){
     justify-content: space-around;

 }


 flex-direction: column;
 width: 61%;
 height: 525px;
 margin-left: auto;
 margin-right: auto;


 .our-teachers-label{
    display: flex;

    text-align: center;
    font-size: 28px;
        height: 105px; //надо задавать постоянно

        .our-teachers-label-text{
            height: 20%;
            text-align: center;
            margin-top: 50px;
            margin-left: 42%;

        }

    }

    .teacher-space{
        width: 100%;
        height: 420px;


        .teacher-column{
           
            display: inline-flex;
            flex-direction: row;
            border: 1px solid #000;
            width: 46%;
            min-width: 30%;
            height: 39%;
            margin-right: 31px;
            margin-bottom: 27px;

            .teacher-img{
                width: 40%;
                height: 100%;
            }

            .teacher-text{

                width: 30%;
                height: 100%;

                .teacher-text-first{
                    font-size: 19px;
                    height: 49px;
                    width: 125px;
                    margin-top: 10px;
                    margin-left: 50%;
                    /* margin-right: auto; */
                }

                .teacher-text-second{
                    height: 59px;
                    width: 205px;
                    margin-top: 10px;
                    margin-left: 16%;
                }

                .teacher-text-third{
                    height: 27px;
                    width: 83px;
                    margin-top: 10px;
                    margin-left: 81px;

                }
            }
        }

    }
}

.learn-more-background{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: purple;
    opacity: 0.4;
}


.course-item-descr-first-block:hover{
    .course-item-descr-date{
        color: red;
    }
}
.learn-more-button{

    display: none;
    position: absolute;
    left: 40px;
    right: 40px;
}




latest-course-item:hover .learn-more-button
latest-course-item:hover .learn-more-background{
    display: block;
}



.learn-more-container{
    display: flex;
    flex-direction: row;
    width: 61%;
    height: 360px;
    margin-right: auto;
    margin-left: auto;

    .learn-more-first{
        height: 242px;
        width: 50%;
        margin-top: 6%;
    }
    .learn-more-second{
      height: 242px;
      width: 50%;
      margin-top: 6%;

      .learn-more-first-text{
        height: 10%;
        width: 100%;
        font-size: 21px;
        TEXT-ALIGN: center;
    }
    .learn-more-second-text{
        height: 25%;

        margin-top: 5%;
    }
    .learn-more-third-text{
        height: 25%;
        margin-top: 20px;

    }
    .learn-more-btn-space{
        height: 16%;
        margin-top: -5%;

        .learn-more-btn{
           background-color: #76ff65;
           color: #black;
           border-top-left-radius: 8px;
           border-bottom-right-radius: 19px;
           height: 32px;
           line-height: 35px;
           text-align: center;
           width: 109px;
           font-size: 15px;
           margin-top: 50px;
           margin-left: auto;

       }



   }
}

}

.twitter-container{
    width: 100%;
    height: 284px;
    background: url(img/2.png);
    opacity: 0.3;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    position: relative;

    .twitter-content{
        height: 60%;
        width: 40%;
        margin-left: auto;
        margin-right: auto;

        .twitter-icon-space{

            height: 32%;
            width: 10%;
            margin-left: 45%;
            background-color: #786294;
            color: #black;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 25px;
        }
        .twitter-text{
            height: 21%;
            width: 90%;
            margin-top: 5%
        }
        .twitter-second-text{
          height: 14%;
          text-align: center;
      }

  }

}

.community-us{
    display: flex;

    height: 510px;
    display: flex;
    flex-direction: column;
    max-width: 889px;
    margin-left: auto;
    margin-right: auto;

    .community-label{

        text-align: center;
        font-size: 28px;
        height: 20%;

        .community-label-text{

            margin-left: 40%;
            width: 22%;
            height: 35%;
            margin-top: 6%;
        }
    }

    .community-events-container{
        display: flex;
        height: 70%;
        flex-wrap: wrap;
        justify-content: space-around;

        .community-events-item{
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            width: 33%;
            min-width: 270px;
            height: 380px;

            .events-item-label{
                position: relative;
                height: 15%;
                text-align: center;
                margin-top: auto;
            }

            .events-item-icon{
                position: relative;
                height: 44%; }

                .events-item-text{
                    position: relative;
                    height: 32%;
                    .events-item-textspace{
                        height: 75%;
                        width: 75%;

                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .calendar-image{
                 display: flex;
                 height: 38%;
                 width: 29%;
                 margin-left: 30%;
                 margin-top: 1%;
                 justify-content: center;
             }
         }
     }

 }

 .quote-container{
    display: flex;
    flex-direction: column;
    width: 51%;
    height: 285px;
    margin-left: auto;
    margin-right: auto;

    .quote-label{
        height: 35%;
        width: 100%;
        text-align: center;
        font-size: 30px;

        .quote-label-text{
            /* margin-right: 50%; */
            margin-left: 40%;
            width: 20%;
            height: 35%;
            margin-top: 7%;
        }

    }
    .quote-content{
        display: flex;
        flex-direction: row;
        height: 40%;

        .quote-first-part{
            height: 100%;
            width: 90px;
            text-align: center;

        }
        .quote-second-part{
            height: 50%;
            width: 75%;
            margin-top: 15px;
            margin-left: 10px;

        }

        .quote-img{

            height: 70%;
            .quote-icon{
                border-bottom-right-radius: 8px;
                border-top-left-radius: 14px;
                margin-left: 4px;
                margin-top: 5px;
                height: 72px;
                width: 72px;
                border: 1px solid #000;
            }


        }
    }
    .quote-student-name{

        height: 16%;
    }

    .quote-text{

        height: 13%;
    }


}


.map-container{
    display: flex;
    height: 300px;
    width: 100%;

    .map-text{
        height: 35%;
        width: 18%;
        margin-left: auto;
        display: flex;
        margin: 0 35%;
        margin-top: 88px;
    }

}

.bottom-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 330px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;

    .bottom-info-column{

        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        width: 33%;
        min-width: 270px;

        .info-label{
            display: flex;
            flex-direction: row;
            background-color: #76ff65;
            color: #black;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 19px;
            height: 37px;
            line-height: 35px;
            text-align: center;
            width: 93%;
            font-size: 15px;
            margin-top: 30px;
            margin-left: 8px;





            .first-label{
                height: 40px;
                width: 30%;
            }

            .second-label{
                height: 40px;
                width: 30%;
                margin-left: auto        }
            }
            .info-text{
                height: 16%;
                width: 95%;
                margin-top: 6%;

            }
            .info-adress{
                height: 30%;
                width: 95%;
                margin-top: 6%;
            }

            .info-icons{
                height: 15%;
                width: 95%;
                margin-bottom: 7%;
            }

            .first-news{
                height: 33%;
                width: 100%;
                display: flex;
                flex-direction: row;

                .first-news-img{
                    height: 60%;
                    width: 2ч2%;
                    margin-top: 8%;
                    margin-left: 3%;
                }
                .first-news-text{
                    height: 64%;
                    width: 70%;
                    margin-top: 8%;
                }

            }


        }

    }

